@import "tailwindcss";
/* :root {
  --bg-primary: #05020a;
  --bg-secondary: #0d0815;
  --bg-glass: rgba(8, 5, 14, 0.82);

  --text-primary: #f8f7fb;
  --text-secondary: #aaa6b5;
  --text-muted: #777282;

  --accent-primary: #ff2da6;
  --accent-secondary: #00e5ff;

  --border: rgba(255, 255, 255, 0.1);
  --accent-glow: rgba(255, 45, 166, 0.3);
} */
:root {
  --bg-primary: #05020a;
  --bg-secondary: #0d0815;
  --bg-glass: rgba(8, 5, 14, 0.82);

  --text-primary: #f8f7fb;
  --text-secondary: #aaa6b5;
  --text-muted: #777282;

  --accent-primary: #ff2da6;
  --accent-secondary: #00e5ff;

  --border: rgba(255, 255, 255, 0.1);
  --accent-glow: rgba(255, 45, 166, 0.3);
}

/* Purple */

[data-theme="purple"] {
  --bg-primary: #06030b;
  --bg-secondary: #10071c;
  --bg-glass: rgba(12, 6, 22, 0.82);

  --accent-primary: #a855f7;
  --accent-secondary: #6366f1;

  --accent-glow: rgba(168, 85, 247, 0.3);
}

/* Cyan */

[data-theme="cyan"] {
  --bg-primary: #020708;
  --bg-secondary: #061316;
  --bg-glass: rgba(3, 12, 14, 0.82);

  --accent-primary: #00e5ff;
  --accent-secondary: #00ffa3;

  --accent-glow: rgba(0, 229, 255, 0.3);
}

/* Red */

[data-theme="red"] {
  --bg-primary: #090202;
  --bg-secondary: #150606;
  --bg-glass: rgba(15, 4, 4, 0.82);

  --accent-primary: #ff3b3b;
  --accent-secondary: #ff8a00;

  --accent-glow: rgba(255, 59, 59, 0.3);
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

::selection {
  background: var(--accent-primary);
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--accent-primary), var(--accent-secondary));
  border-radius: 999px;
}

/* Reusable neon effects */

button:focus-visible,
a:focus-visible,
input:focus-visible {
  outline: 2px solid var(--accent-primary);
  outline-offset: 3px;
}

/* Glass */

.glass {
  background: rgba(13, 8, 21, 0.7);
  border: 1px solid var(--border);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

@keyframes splash-loading {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
